<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilelibrs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileLibrs">

        <!--First Page-->
        <activity android:name=".Activity_LM_Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- User's Menu Pages -->

      <!--  <activity android:name=".Activity_First_Page"> </activity>-->

        <activity android:name=".Activity_Admin_Menu"> </activity>
        <activity android:name=".Activity_Librarian_Menu"> </activity>
      <!--  <activity android:name=".Activity_LM_Menu"> </activity> -->

        <!-- User's Login_Register Pages -->
        <activity android:name=".Activity_Login"> </activity>
        <activity android:name=".Activity_Register"> </activity>

        <!--LM Pages -->
        <activity android:name=".Activity_LM_List_Libraries"> </activity>
        <activity android:name=".Activity_LM_Seelect_Date_and_Time_Slot"> </activity>
        <activity android:name=".Activity_LM_Choose_Table"> </activity>
        <activity android:name=".Activity_LM_QR"> </activity>
        <activity android:name=".Activity_LM_List_Reservations"> </activity>

        <!--Admin Pages-->
        <activity android:name=".Activity_Admin_List_Libraries"> </activity>
         <activity android:name=".Activity_Admin_Add_Library"> </activity>
        <activity android:name=".Activity_Admin_Change_Library_Status"> </activity>

        <!--Librarian Pages-->
        <activity android:name=".Activity_Librarian_List_Reservations"> </activity>

    </application>

</manifest>